{% extends 'base.html' %}

{% block title%} Create A post {% endblock title%}

{% block content %}

{% if user.is_authenticated %}

<h1>Add post...</h1>
<br/><br/>
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}

	<button class="btn btn-outline-success">Post</button>
</form>

<script>
	var name = "{{ user.id }}";
	document.getElementById("user").value
		= name;
</script>

{% else %}
	<div class="alert alert-danger" role="alert">
	 	 You are not logged in!!!
	</div>
{% endif %}

{% endblock%}