{% extends 'base.html' %}

{% block title%} Delete the post {% endblock title%}

{% block content %}

{% if user.is_authenticated %}
 {% if user.id == post.author.id %}

<h1>Delete post...</h1>
<br/><br/>
<h4>{{ post.title }}</h4>
<form method="POST">
	{% csrf_token %}
	<strong>Are you sure you want to delete "{{ post.title }}"?!<br/><br/>
	<button class="btn btn-danger">Delete</button>
</form>
{% else %}
 <div class="alert alert-danger" role="alert">
	  	You are not allowed to delete this post!!!
	</div>
{% endif %}

{% else %}
	<div class="alert alert-danger" role="alert">
	  	You are not logged in!!!
	</div>
{% endif %}

{% endblock%}